.env
src/secret.txt
celerybeat.pid
src/cyborgbackup/ui/static
src/cyborgbackup/templates/ui
src/cyborgbackup/ui/src/bower_components
src/cyborgbackup/ui/src/.tmp
src/cyborgbackup/ui/src/dev-release
src/cyborgbackup/ui/src/release
**/__pycache__
**/_build
**/.coverage
