.env
.vagrant
*.deb
.idea
deploy.sh
src/secret.txt
celerybeat.pid
debian/cyborgbackup
src/cyborgbackup/static
src/cyborgbackup/ui/src/bower_components
src/cyborgbackup/ui/src/.tmp
src/cyborgbackup/ui/src/node_modules
src/cyborgbackup/ui/src/dev-release
src/cyborgbackup/ui/src/release
src/cyborgbackup/ui/src/package-lock.json
src/var
**/__pycache__
**/_build
**/.coverage
venv
