version: '3'

services:
  postgres:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5432:5432"
  rabbitmq:
    image: rabbitmq:management
    env_file:
      - .env
    ports:
      - "5672:5672"
      - "15672:15672"
  callback_receiver:
    image: cyborgbackup/cyborgbackup:latest
    command: bash -c "python /cyborgbackup/manage.py run_callback_receiver -v 3"
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq
  channel_workers:
    image: cyborgbackup/cyborgbackup:latest
    command: bash -c 'python /cyborgbackup/manage.py runworker --only-channels websocket.*'
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq
  api:
    image: cyborgbackup/cyborgbackup:latest
    command: bash -c "python /cyborgbackup/manage.py migrate --noinput && python /cyborgbackup/manage.py runserver 0.0.0.0:8000"
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - rabbitmq
    restart: unless-stopped
  celery:
    image: cyborgbackup/cyborgbackup:latest
    command: celery -A cyborgbackup worker -E -c 1
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq
  celery_beat:
    image: cyborgbackup/cyborgbackup:latest
    command: celery -A cyborgbackup beat
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq
  mongodb:
    image: mongo:bionic
    volumes:
      - mongo_data:/data/db
    ports:
      - 27017:27017
  ui:
    image: cyborgbackup/cyborgbackup-ui:develop
    depends_on:
      - api
    ports:
      - "8088:80"

volumes:
  postgres_data:
  mongo_data:
