amqp==2.2.2
channels==1.1.8
git+git://github.com/GaetanF/asgi_amqp.git@master#egg=asgi-amqp
daphne==1.4.2
decorator==4.2.1
Django>=2.0.8
django-celery-results==1.0.1
django-crum==0.7.2
django-jsonbfield==0.1.0
django-jsonfield==1.0.1
django-pglocks==1.0.2
django-polymorphic==2.0.2
django-qsstats-magic==1.0.0
django-rest-swagger==2.1.2
djangorestframework==3.8.2
celery==4.2.1
redis==2.10.6
paramiko>=2.4.2
pexpect==4.4.0
psutil==5.4.3
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-daemon==2.1.2
python-dateutil==2.7.2
pytz==2018.3
PyYAML==3.12
requests>=2.20.0
simplejson==3.13.2
uritemplate==3.0.0
urllib3==1.22
uWSGI==2.0.17
sphinxcontrib-httpdomain
flower
jsonschema
pyparsing
pygments
ansiconv
tzcron
