amqp>=2.2.2
channels>=1.1.8,<2.0.0
asgi-amqp>=1.1.3
daphne==1.4.2
decorator==4.2.1
Django>=2.0.8,<3.0.0
django-celery-results==1.0.1
django-crum==0.7.2
django-jsonbfield==0.1.0
django-jsonfield==1.0.1
django-pglocks==1.0.2
django-polymorphic==2.0.2
django-qsstats-magic==1.0.0
django-rest-swagger==2.1.2
djangorestframework==3.9.1
kombu==4.2.2.post1
celery==4.2.1
redis==2.10.6
paramiko>=2.4.2
pexpect==4.4.0
psutil==5.6.6
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-daemon==2.1.2
python-dateutil==2.7.2
pytz==2018.3
PyYAML>=3.12
requests>=2.20.0
simplejson==3.13.2
uritemplate==3.0.0
urllib3>=1.23
uWSGI==2.0.17
sphinxcontrib-httpdomain
setuptools_scm
flower
jsonschema
pyparsing
pygments
ansiconv
tzcron
elasticsearch==6.3.1
elasticsearch-dsl>=6.0.0,<7.0.0
#django-elasticsearch-dsl==0.5.1
django-elasticsearch-dsl==6.4.2
#django-elasticsearch-dsl-drf==0.17.4
git+git://github.com/GaetanF/django-elasticsearch-dsl-drf@master#egg=django-elasticsearch-dsl-drf
django-debug-toolbar==1.11
django-debug-toolbar-force==0.1.4
django-elasticsearch-debug-toolbar==1.2.0
