[Unit]
Description=CyBorgBackup Daphne Service
PartOf=cyborgbackup.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/cyborgbackup
WorkingDirectory=/opt/cyborgbackup
User=cyborgbackup
Group=cyborgbackup
ExecStart=/opt/cyborgbackup/venv/bin/daphne -b 127.0.0.1 -p 8151 cyborgbackup.asgi:channel_layer

[Install]
WantedBy=multi-user.target