[Unit]
Description=CyBorgBackup Job Callback Receiver Service
PartOf=cyborgbackup.service

[Service]
EnvironmentFile=-/etc/default/cyborgbackup
Environment=PATH=/opt/cyborgbackup/venv/bin:$PATH
WorkingDirectory=/opt/cyborgbackup
User=cyborgbackup
Group=cyborgbackup
ExecStart=/opt/cyborgbackup/manage.py run_callback_receiver -v 3

[Install]
WantedBy=multi-user.target