[Unit]
Description=CyBorgBackup Celery Worker Main Tasks Service
PartOf=cyborgbackup.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/cyborgbackup
WorkingDirectory=/opt/cyborgbackup
User=cyborgbackup
Group=cyborgbackup
ExecStart=/opt/cyborgbackup/venv/bin/celery -A cyborgbackup worker -n "worker-main@%%h" -c 1 -E -Q main_tasks

[Install]
WantedBy=multi-user.target