[Unit]
Description=CyBorgBackup
Requires=cyborgbackup-callback-receiver.service cyborgbackup-daphne.service cyborgbackup-uwsgi.service cyborgbackup-workers.service cyborgbackup-celery-worker-job.service cyborgbackup-celery-worker-main.service cyborgbackup-celery-beat.service
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target