[Unit]
Description=CyBorgBackup Celery Beat Service
PartOf=cyborgbackup.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/cyborgbackup
WorkingDirectory=/opt/cyborgbackup
User=cyborgbackup
Group=cyborgbackup
ExecStart=/opt/cyborgbackup/venv/bin/celery -A cyborgbackup beat

[Install]
WantedBy=multi-user.target